In [7]:
%load_ext autoreload
%autoreload 2
from src import Columbus
import pandas as pd 

df = pd.read_json("./movies.json")

df.drop(columns=["Release Date", "Title"], inplace=True)

# number of unique values
display(df.nunique())

df.head()
df.info()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

US Gross                  3060
Worldwide Gross           3074
US DVD Sales               564
Production Budget          381
MPAA Rating                  7
Running Time min           109
Distributor                174
Source                      18
Major Genre                 12
Creative Type                9
Director                   550
Rotten Tomatoes Rating     100
IMDB Rating                 77
IMDB Votes                2839
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3201 entries, 0 to 3200
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   US Gross                3194 non-null   float64
 1   Worldwide Gross         3194 non-null   float64
 2   US DVD Sales            564 non-null    float64
 3   Production Budget       3200 non-null   float64
 4   MPAA Rating             2596 non-null   object
 5   Running Time min        1209 non-null   float64
 6   Distributor             2969 non-null   object
 7   Source                  2836 non-null   object
 8   Major Genre             2926 non-null   object
 9   Creative Type           2755 non-null   object
 10  Director                1870 non-null   object
 11  Rotten Tomatoes Rating  2321 non-null   float64
 12  IMDB Rating             2988 non-null   float64
 13  IMDB Votes              2988 non-null   float64
dtypes: float64(8), object(6)
memory usage: 350.2+ KB

In [9]:
taeva = Columbus(df)
print(len(taeva.nodes))
# for node in taeva.nodes:
#     print(node)
#     print()
#     print()

/Users/jasonchoi3/git/columbus/src/space/Columbus.py:22: NumbaWarning:
Compilation is falling back to object mode WITH looplifting enabled because Function "__init__" failed type inference due to: Untyped global name 'Attribute': Cannot determine Numba type of <class 'type'>

File "src/space/Columbus.py", line 29:
    def __init__(self, df: pd.DataFrame):
        <source elided>
        self.attrs: list["Attribute"] = [
            Attribute(str(name), type, False)
            ^

  @jit
/Users/jasonchoi3/git/columbus/src/space/Columbus.py:22: NumbaWarning:
Compilation is falling back to object mode WITHOUT looplifting enabled because Function "__init__" failed type inference due to: Untyped global name 'Attribute': Cannot determine Numba type of <class 'type'>

File "src/space/Columbus.py", line 29:
    def __init__(self, df: pd.DataFrame):
        <source elided>
        self.attrs: list["Attribute"] = [
            Attribute(str(name), type, False)
            ^

  @jit
/Users/jasonchoi3/miniforge3/envs/columbus/lib/python3.9/site-packages/numba/core/object_mode_passes.py:151: NumbaWarning: Function "__init__" was compiled in object mode without forceobj=True, but has lifted loops.

File "src/space/Columbus.py", line 24:
    def __init__(self, df: pd.DataFrame):
        self.df = df
        ^

  warnings.warn(errors.NumbaWarning(warn_msg,
/Users/jasonchoi3/miniforge3/envs/columbus/lib/python3.9/site-packages/numba/core/object_mode_passes.py:161: NumbaDeprecationWarning:
Fall-back from the nopython compilation path to the object mode compilation path has been detected, this is deprecated behaviour.

For more information visit https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit

File "src/space/Columbus.py", line 24:
    def __init__(self, df: pd.DataFrame):
        self.df = df
        ^

  warnings.warn(errors.NumbaDeprecationWarning(msg,
/Users/jasonchoi3/git/columbus/src/space/Columbus.py:22: NumbaWarning:
Compilation is falling back to object mode WITHOUT looplifting enabled because Function "__init__" failed type inference due to: Untyped global name 'combinations': Cannot determine Numba type of <class 'type'>

File "src/space/Columbus.py", line 36:
    def __init__(self, df: pd.DataFrame):
        <source elided>
        for i in range(1, MAX_TARGET_ATTRIBUTES + 1):
            for comb in combinations(self.attrs, i):
            ^

  @jit
/Users/jasonchoi3/miniforge3/envs/columbus/lib/python3.9/site-packages/numba/core/object_mode_passes.py:151: NumbaWarning: Function "__init__" was compiled in object mode without forceobj=True.

File "src/space/Columbus.py", line 35:
    def __init__(self, df: pd.DataFrame):
        <source elided>
        # get {(n + 2) (n + 1) n / 6} combinations of attributes
        for i in range(1, MAX_TARGET_ATTRIBUTES + 1):
        ^

  warnings.warn(errors.NumbaWarning(warn_msg,
/Users/jasonchoi3/miniforge3/envs/columbus/lib/python3.9/site-packages/numba/core/object_mode_passes.py:161: NumbaDeprecationWarning:
Fall-back from the nopython compilation path to the object mode compilation path has been detected, this is deprecated behaviour.

For more information visit https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit

File "src/space/Columbus.py", line 35:
    def __init__(self, df: pd.DataFrame):
        <source elided>
        # get {(n + 2) (n + 1) n / 6} combinations of attributes
        for i in range(1, MAX_TARGET_ATTRIBUTES + 1):
        ^

  warnings.warn(errors.NumbaDeprecationWarning(msg,

1470
51501